@* @model JambRegistrationMVC.Dtos.StudentResponseModel *@
<div>
    <dl>
        <dd>
            Name :
        </dd>
        <dt>
            @Model.Data.FullName
        </dt>
        <dd>
            Address :
        </dd>
        <dt>
            @Model.Data.Address
        </dt>
        <dd>
            Email :
        </dd>
        <dt>
            @Model.Data.Email
        </dt>
        <dd>
            Gender :
        </dd>
        <dt>
            @Model.Data.Gender
        </dt>
        <dd>
            Examination Date :
        </dd>
        <dt>
            @Model.Data.ExaminationDate
        </dt>    
        <dd>
            Center :
        </dd>
        <dt>
            @Model.Data.CenterName
        </dt>    
        <dd>
            Center Address:
        </dd>
        <dt>
            @Model.Data.CenterAddress
        </dt>    
        <dd>
            School First Choice:
        </dd>
        <dt>
            @Model.Data.SchoolFirstChoice
        </dt>    
        <dd>
            Course:
        </dd>
        <dt>
            @Model.Data.CourseFirstChoice
        </dt>    
        <dd>
            School Second Choice:
        </dd>
        <dt>
            @Model.Data.SchoolSecondChoice
        </dt>    
        <dd>
            Course:
        </dd>
        <dt>
            @Model.Data.CourseSecondChoice
        </dt>    
         
    </dl>
</div>
@* <a asp-action = "Index">Back</a>}  *@